<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
     
    <display-name>NGN REST</display-name> 
	<servlet>
	    <servlet-name>NgnRest</servlet-name>
	    <servlet-class>de.mhus.lib.liferay.MPortalDelegateServlet</servlet-class>
	    <init-param>
	        <param-name>servlet-class</param-name>
	        <param-value>de.mhus.example.lr7.servlet.SampleServlet</param-value>
	    </init-param>
	    <init-param>
	        <param-name>sub-context</param-name>
	        <param-value>sample</param-value>
	    </init-param> 
	    <load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
